@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {
  --primary-ff: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-ff);
}