@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {
  --primary-ff: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-ff);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
}

.books {
  /* display: grid; */
  display: flex;
  gap: 12px;

  padding: 1rem;
}

.book-card {
  border: solid 1px black;
  padding: .5rem;
}

.popupAddBook {
  display: none;
}

footer {
  display: flex;
}